@import '../../node_modules/include-media/dist/_include-media.scss';

body{
}
.page-container{
    margin: 0px;
}
.hero {
    width:100vw;
    height: 100vh;
    background: url(../../static/hero.jpg) no-repeat center center fixed;
    background-size: cover;
    text-align: center;
    font-family: Montserrat;
    position: absolute;
    filter: saturate(5);
    z-index: -1;
}

.text-center{
    text-align:center;
}

.orgname{
    margin: auto;
}
.orglogo{
    margin: auto;
    margin-top:10%;
    @include media("<tablet"){
        margin-top:20vh;
     }
    img{
        @media(max-width: 768px){
            width: 100px;
        }
    }
}
.overlay{
    height: 100vh;
    width: 100vw;
    background: #000000b0;
    position: relative;
    font-family: Montserrat;
    box-shadow: 1px 2px 20px 1px #000000b5;
    .row{
        &:first-of-type{
            @media(max-width: 768px){
                margin-top: 20vh;
            }
            
        }
    }
    h1{
        padding: 15px;
        color: #fff;
        font-size: 65px;
        font-weight: 700;
        text-shadow: 1px 1px 1px #000;
        @media(max-width: 768px){
            font-size: 35px;
        }
    }
    .enroll-btn{
        width: 300px;
        height: 60px;
        background: #FF9800;
        font-size: 20px;
        color: #fff;
        border-radius: 15px;
        @media(max-width: 768px){
            width: 150px;
            height: 50px;
            background: #FF9800;
            font-size: 14px;
            color: #fff;
            border-radius: 8px;
        }
    }
    .logo{
        img{
            max-width: 200px;
        }
    }
}

.details{
    margin-right: 0px !important;
    margin-left: 0px !important;
    width: 100vw;
    height: 700px;
    background: #3c36a117;
    @include media("<tablet"){
        height: auto;
     }
    .deet{
        height: 100%;
        display: inline-block;
        width: 30%;
        padding:60px;
        @include media("<tablet"){
            padding:0px !important;
         }
        @media (max-width:768px) {
            width: 100%;
            height: 400px;
            padding: 40px;
        }
        .info{
            height: 100%;
            width: 100%;
            background: #FF9800;
            border-radius: 10px;
            overflow: hidden;
            box-shadow: -1px 3px 9px 1px #00000073;
            @include media("<tablet"){
                border-radius: 0px;
             }
            .image{
                height: 50%;
            }
            .text{
                padding: 20px;
                text-align: center;
                letter-spacing: 1px;
                p{
                    font-size: 18px;
                    @media (max-width:768px) {
                        font-size: 14px;
                    }
                }
                button{
                    height: 40px;
                    width: 140px;
                    background: #000;
                    color: #fff;
                    border-radius: 10px;
                }
            }
        }
    }
    .faculty{
        .info{
            .image{
                background: url(../../static/faculty.jpg);
                background-size: cover;
            }
        }
    }
    .support{
        .info{
            .image{
                background: url(../../static/support.jpg);
                background-size: cover;
            }
        }
    }
    .equipment{
        .info{
            .image{
                background: url(../../static/equiipment.jpg);
                background-size: cover;
            }
        }
    }
}

.scroll-down{
    cursor: pointer;
    padding-top:100px;
    img{
        max-width: 60px;
    }
    @include media("<tablet"){
        padding-top:8vh;
     }
     @media (max-width: 768px) and (max-height:480px){
         display:none;
     }
     @media (max-width: 768px) and (max-height:1024px){
        padding-top:24vh;
    }
    @media (max-width: 768px) and (max-height:736px){
        padding-top:14vh;
    }
    @media (max-width: 768px) and (max-height:568px){
        padding-top:10vh;
    }
}