@import '../../../node_modules/include-media/dist/_include-media.scss';
.course-container{
    height: 530px;
    background-image: linear-gradient(to right top, #006888, #ff8400);
    padding: 70px 0px;
    @include media("<tablet"){
       height: auto;
    }
    .course-label{
        h2{
            margin-top: 40%;
            color: #fff;
            font-size: 44px;
            font-weight: 500;
            @include media("<tablet"){
                margin-top: 10px;
             }
        }
    }
    .courses{
        @include media("<tablet"){
            padding-left: 10px;
         }
        .course{
            height: 200px;
            padding-left: 25px;
            padding-top: 25px;
            padding-bottom: 5px;
            padding-right: 35px;
            @include media("<tablet"){
                width:50%
            }
            .course-details{
                background: #fff;
                box-shadow: -3px 7px 20px 1px #5f5f5fbd;
                height: 100%;
                width: 100%;
                border-radius: 15px;
                padding: 65px 15px;
                @include media("<tablet"){
                    border-radius: 0px;
                 }
                h4{
                    font-size:1rem;
                }
            }
        }
    }
}